#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/*

   &mmv_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

   &msc_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

 */

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;

            label = "SHIFT- CAPS";
        };

        td1: td1 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_GUI>, <&mo 4>;

            label = "win-4";
        };

        td2: td2 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_ALT>, <&mo 4>;

            label = "alt-4";
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    combos {
        compatible = "zmk,combos";

        sys_layer {
            bindings = <&mo 4>;
            key-positions = <44 45>;
            layers = <0>;
        };
    };

    macros {
        v_dsktp_R: lang5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LWIN &kp LCTRL &kp RIGHT_ARROW>;
            label = "LANG5";
        };

        v_dsktp_L: virtual_desktop_L {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LWIN &kp LCTRL &kp LEFT_ARROW>;
            label = "VIRTUAL_DESKTOP_L";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWE-vol";
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E  &kp R  &kp T                                    &kp PG_UP                   &kp Y        &kp U  &kp I      &kp O    &kp P      &kp SQT
&kp LCTRL  &kp A  &kp S  &kp D  &kp F  &kp G                      &kp LC(HOME)  &kp LA(F4)     &kp LC(END)  &kp H        &kp J  &kp K      &kp L    &kp MINUS  &kp SEMI
&td0       &kp Z  &kp X  &kp C  &kp V  &kp B        &kp C_MUTE                  &kp LC(PG_DN)               &kp N        &kp M  &kp COMMA  &kp DOT  &kp FSLH   &kp RSHFT
                         &td1   &mo 1  &lt 3 SPACE                                                          &lt 3 ENTER  &mo 2  &td2
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        num_sym_layer {
            display-name = "NUMSYM";
            bindings = <
&kp ESC    &kp EXCL  &kp AT_SIGN  &kp HASH  &kp DOLLAR  &kp PERCENT                           &mmv MOVE_UP                     &kp CARET       &kp AMPS   &kp ASTRK  &kp LPAR           &kp RPAR       &kp GRAVE
&kp LCTRL  &kp N1    &kp N2       &kp N3    &kp N4      &kp N5                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp MINUS       &kp EQUAL  &kp LBKT   &kp RIGHT_BRACKET  &kp BACKSLASH  &kp TILDE
&td0       &kp N0    &kp N9       &kp N8    &kp N7      &kp N6       &none                    &mmv MOVE_DOWN                   &kp UNDERSCORE  &kp PLUS   &kp LBRC   &kp RBRC           &kp PIPE       &kp RSHIFT
                                  &trans    &trans      &trans                                                                 &trans          &trans     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        function_layer {
            display-name = "FN +-";
            bindings = <
&kp ESC    &kp F1   &kp F2   &kp F3  &kp F4  &kp F5                       &none         &kp F6          &kp F7          &kp F8        &kp F9           &kp F10          &kp DEL
&kp LCTRL  &kp F11  &kp F12  &none   &none   &none                 &none  &none  &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &none            &kp BACKSPACE
&td0       &none    &none    &none   &none   &none   &kp LC(N0)           &none         &kp END         &kp PAGE_DOWN   &kp PAGE_UP   &kp HOME         &kp PRINTSCREEN  &kp RSHIFT
                             &trans  &trans  &trans                                     &trans          &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PLUS) LC(MINUS)>;
        };

        keypad_layer {
            display-name = "PAD-bri";
            bindings = <
&none  &none  &none  &none         &none         &none                            &none              &kp ASTRK  &kp N7  &kp N8  &kp N9  &kp EQUAL  &kp DEL
&none  &none  &none  &kp C_BRI_UP  &kp C_VOL_UP  &kp C_MUTE           &v_dsktp_L  &none  &v_dsktp_R  &kp MINUS  &kp N4  &kp N5  &kp N6  &kp SLASH  &kp BACKSPACE
&none  &none  &none  &kp C_BRI_DN  &kp C_VOL_DN  &none       &none                &none              &kp PLUS   &kp N1  &kp N2  &kp N3  &kp COMMA  &kp DOT
                     &trans        &trans        &trans                                              &trans     &trans  &kp N0
            >;

            sensor-bindings = <&inc_dec_kp C_BRI_UP LC(C_BRI_DN)>;
        };

        system_layer {
            display-name = "SYSTEM";
            bindings = <
&out OUT_BLE     &studio_unlock   &none            &none            &sys_reset       &bootloader                       &trans          &bootloader      &sys_reset       &none            &none            &none            &none
&out OUT_USB     &bt BT_CLR_ALL   &bt BT_CLR       &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2              &trans  &trans  &trans  &none            &none            &none            &none            &none            &none
&rgb_ug RGB_TOG  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &rgb_ug RGB_SPI  &rgb_ug RGB_EFF  &none            &trans          &rgb_ug RGB_EFR  &rgb_ug RGB_SPD  &rgb_ug RGB_BRD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &none
                                                   &trans           &trans           &trans                                            &trans           &trans           &trans
            >;
        };
    };
};
